name: Incident Mirror Sync

on:
  issues:
    types: [opened]

permissions:
  issues: write
  contents: read

jobs:
  mirror_handler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Dependencies
        run: npm install googleapis ts-node typescript @types/node

      - name: Run Sync Script
        uses: actions/github-script@v7
        with:
          script: |
            require('ts-node').register({ 
              transpileOnly: true,
              compilerOptions: {
                module: "CommonJS",
                moduleResolution: "node"
              }
            });

            const script = require('./.github/scripts/sync-incident.ts');
            const { google } = require('googleapis');
            const fs = require('fs');
            const path = require('path');

            await script({
              github,
              context,
              core,
              google: google,
              fs: fs,
              path: path
            })
        env:
          CENTRALIZED_REPO_TOKEN: ${{ secrets.SYNC_PAT_TOKEN }}
          GCP_CLIENT_ID: ${{ secrets['GCP_CLIENT_ID'] }}
          GCP_CLIENT_SECRET: ${{ secrets['GCP_CLIENT_SECRET'] }}
          GCP_REFRESH_TOKEN: ${{ secrets['GCP_REFRESH_TOKEN'] }}
          TARGET_OWNER: "IshanHansaka"
          TARGET_REPO: "centralised-repo"
          PROJECT_ACCESS_TOKEN: ${{ secrets.PROJECT_ACCESS_TOKEN }}
          PROJECT_NUMBER: 5
